:root{
    --violet-doux : #6C63FF;
    --violet-fonce : #534edd;
    --orange-vif :#FFA726; 
    --gris-tres-fonce :#333;
    --gris-fonce :#666;
    --gris-tres-claire :#F8F8F8;
    --gris-claire :#EEE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--gris-tres-claire);
    font-family: roboto, sans-serif;
    line-height: 1.6;
}

header{
    background-color: white;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem, 3rem;
}

header div a{
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--violet-doux);
    margin-left: 15px;
}
ul li {
    list-style: none;
    margin-right: 15px;
}
ul{
    display: flex;
}

ul li a{
    text-decoration: none;
    color: var(--gris-fonce);
    font-weight: 600;
    font-size: 1.5rem;
    position: relative;
    padding: 10px 0;
}

ul li a:hover{
    color: var(--violet-doux);
}

ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: var(--violet-fonce);
    transition: width 0.3s ease;
}

ul li a:hover::after{
    width: 100%;
}
.active{
    color: var(--violet-doux);
    text-decoration: underline;
}

.hero{
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    text-align: center;
    margin: 10rem 2rem;
}

.hero img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--violet-doux);
}

.hero h1{
    color: var(--violet-doux);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.hero p{
    color: var(--gris-fonce);
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}

.hero a{
    text-decoration: none;
    display: inline-block;
    background-color: var(--violet-doux);
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: 600;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.hero a:hover{
    background-color: var(--violet-fonce);
    transform: translate(-3px);
}

.a_propos{
    width: 800px;
    margin: 6rem auto;    
    text-align: center;
}
section h2{
    color: var(--violet-doux);
    font-size: 2.6rem;
    font-weight: 700;
    position: relative;
    margin-bottom: 1.2rem;
    text-align: center;
}
section h2::after{
    content: '';
    width: 60px;
    height: 4px;
    background-color: var(--violet-doux);
    display: block;
    margin: 1.2rem auto;
    border-radius: 2px;

}

section p{
    margin-bottom: 2rem;
    color: var(--gris-fonce);
    font-size: 1.3rem;
}

table{
    margin:0 auto;
    width: 80%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
}

table th , table td {
    padding: 15px;
}

table thead{
    background-color: var(--violet-doux);
    color: #fff;
    text-transform: uppercase;
}

table tbody td{
    border-bottom: 1px solid var(--gris-claire);
}
table tbody tr:nth-child(even){
    background-color: #fdfdfd;
}

table tbody tr{
    transition: background-color 0.3s ease;
}

table tbody tr:hover{
    background-color: #f0f0f0;
}
table thead th{
    text-align: left;
}

footer{
    margin-top: 3rem;
    background-color: var(--violet-doux);
    padding: 3rem;
    text-align: center;
}

footer p{
    color: white;
    margin-bottom: 1.2rem;
}
footer a{
    display: inline-block;
    font-size: 1.6rem;
    color: white;
    margin: 0 10px;
    transition: color 0.3s ease,transform 0.3s ease;
}

footer a:hover{
    color: var(--orange-vif);
    transform: translateY(-3px);
}
